.App {
  text-align: center;
}

.contentAll{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 875px;
  width: 1270px;
  
}

.contentCreateTask{
  display: flex;
  flex-direction: column;
  margin-right: 150px ;
  margin-left: 10px ;
  width: 432px;
  height: 620px;
  border:solid;
  border-color: white;
  border-radius: 7px;
}

.task{
  display: flex;
  flex-direction: column;
  margin-left: 140px ;
  width: 432px;
  height: 620px;
  border:solid;
  border-color: white;
  border-radius: 7px;
}

.fetch{
  margin-left: 14px;
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #2a3129;
  color: beige;
  padding-left: 40px;
}